#Topimg{
  position: relative;
  background: black;
  height: 500px;
  background: linear-gradient(135deg,rgba(0,0,0,.2) 0,#000 100%);
  background-image: linear-gradient(135deg,rgba(0,0,0,.2) 0,#000 100%),url("https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/200912-xl-three-ingredient-prime-rib-roast.jpg?itok=nYxRGXVB");
  background-position: center;
  background-size: cover;


.title{
  padding: 200px 0 50px;
  text-align: right;

  h1{
    font-family: $displayFont;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    font-size: 4rem;
  }

  h5{
    text-transform: uppercase;
    color: white;
    font-weight: 300;
  }
}
.contact-info{
  //position: absolute;
  //bottom: 0;
  //right: 0;
  text-align: right;
  color: white;
  font-size: .8rem;
  line-height: 1.5rem;

  strong{
    font-weight: bold;
  }

  .booking{
    margin-bottom: 10px;
  }
  h2{
    font-size: 2rem;
    margin-bottom: 20px
  }
}
}
